@model IEnumerable<FinalProject272.Models.Staff>

@{
    ViewBag.Title = "Index";
}
<br/>
<br />
<br />
<br />
<div class="card-header bg-black text-white text-center">
    <h3>Welcome Back!</h3>
</div>

