@model IEnumerable<FinalProject272.Models.Booking>

@{ ViewBag.Title = "Index"; }





<section class="inner-page-banner" style="background-image: url('@Url.Content("~/Content/Images/Wine_Setup.jpg")');">
    <link rel="stylesheet" href="~/Content/about.css" />
    <div class="container">
        <div class="inner-page-title">
            <div class="main-title">
                <h2>Your Reservation has been Successful!</h2>
            </div>
        </div>
    </div>
</section>



<img src="https://bit.ly/4aALqGG" style="width: 100%; height: auto; padding: 40px; border-radius:7px;" />