@model IEnumerable<FinalProject272.Models.ContactViewModel>

@{ ViewBag.Title = "Index"; }





<section class="inner-page-banner" style="background-image: url('@Url.Content("~/Content/Images/Wine_Setup.jpg")');">
    <link rel="stylesheet" href="~/Content/about.css" />
    <div class="container">
        <div class="inner-page-title">
            <div class="main-title">
                <h2>Thankyou for sending us message!</h2>
            </div>
        </div>
    </div>
</section>