html, body {
    margin: 0px;
    padding: 0px;
}

.inner-page-banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.full-width-container {
    width: 100%;
    padding: 0;
    margin: 0;
}



.menu-page-banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.about-page-banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.inner-page-title {
    text-align: center;
}

.main-title h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.bed-crumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.bed-crumbs li {
    margin-right: 10px;
}

.bed-crumbs a {
    color: #fff;
    text-decoration: none;
}

.about-section {
    padding: 100px 0;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
}

.color-title {
    color: #333;
}

.main-title h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}


.text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.customTable {
    font-size: 18px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}


.customTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
    color: #cc5027;
}

.customTable th, .customTable td {
    padding: 10px;
    border: 1px solid #000;
    white-space: nowrap;
}

.customTable th {
    background-color: #170505;
    font-weight: bold;
}

.customTable td {
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.menu-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px); /* Adjust width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #cc5027;
}

p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #cc5027;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #cc5027;
}

.menu-item {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    display: flex;
    align-items: center;
}

.item-price {
    text-align: right;
}

.image-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.menu-section {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item-price {
    margin-left: auto;
}

